<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" id="footerid">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Developed By
                   <a href="http://linkedin.com/in/mohamed-moujahid-65bb711a5"
                      target="_blanck"   
                   >
                    @Mohamed_Moujahid
                   </a>      
          </h6>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Dev Tools</h6>
          <p>
            <a href="https://angular.io/" target="_blanck">Angular 9+</a>
          </p>
          <p>
            <a href="https://bootswatch.com/" target="_blanck">Bootswatch</a>
          </p>
          <p>
            <a href="https://getbootstrap.com/" target="_blanck">Bootstrap</a>
          </p>
        </div>  
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="http://linkedin.com/in/mohamed-moujahid-65bb711a5"
               target="_blanck"   
                   >
              Linkdin+
            </a>
          </p>
          <p>
            <a href="https://www.facebook.com/profile.php?id=100005030685942"
               target="_blanck"   
                   >
              Facebook+
            </a>
          </p>
          <p>
            <a href="https://github.com/MohamedMoujahid55"
               target="_blanck"   
                   >
              Github+
            </a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Adress</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> mohamedmoujahid55@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 00 00 000 000 </p>
        </div>
  
      </div>
      <hr>
        <div class="footer-copyright text-center py-3">© 2020 Copyright :  <a href="http://linkedin.com/in/mohamed-moujahid-65bb711a5"
          target="_blanck"   
       >
        @Mohamed_Moujahid
       </a>
          </div>
      </div>
  </footer>
