<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " routerLink="/"> 
        <img src="../../../assets/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Easy Movies Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="nav-item active" >
          <a class="nav-link" href="/">Home </a>
        </li>
        <li routerLinkActive="nav-item active" class="nav-item">
          <a class="nav-link" href="#newreleases">New releases</a>
        </li>
        <li routerLinkActive="nav-item active" class="nav-item">
          <a class="nav-link" href="#dailyrecomendation">Daily recommendation</a>
        </li>
        <li routerLinkActive="nav-item active" class="nav-item">
          <a class="nav-link" href="#footerid">About us</a>
        </li>
      </ul>
    </div>
    </div>
</nav>
